<%= simple_form_for(@employee) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.input :cpf %>
    <%= f.input :rg %>
    <%= f.input :work_permit %>
    <%= f.input :hiring, end_year: Date.today.year - 90, start_year: Date.today.year %>
    <%= f.input :birthdate, end_year: Date.today.year - 90, start_year: Date.today.year %>
    <%= f.input :salary %>
    <%= f.input :address %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
