<div class="page-header">
  <h1>Employees</h1>
  <%= link_to new_employee_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Employee
  <% end %>
</div>
<br>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Salary</th>
        <th>Address</th>
        <th colspan="2" class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.name %></td>
          <td><%= employee.phone %></td>
          <td><%= employee.email %></td>
          <td>R$ <%= employee.salary %></td>
          <td><%= employee.address %></td>
          <td class="text-center">
              <%= link_to employee do %>
                <span class="glyphicon glyphicon-eye-open"></span>
              <% end %>
          </td>
          <td class="text-center">
            <%= link_to edit_employee_path(employee) do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
