<p id="notice"><%= notice %></p>
<h1>Item</h1>
<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
  <strong>Storage:</strong>
  <%= @item.storage %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @item.unit_price %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
